.bdsft-webrtc
	.messages.classes
		.messageGetUserMedia.alert.msg
		.messageConnectionFailed.alert.msg
		.messageRegistrationNotFound.alert.msg
		.messageRegistrationWrongPassword.alert.msg
		.messageFailed.alert.msg
		.messageAlert.alert.msg
		.messageWarning.warning.msg
		.messageSuccess.success.msg
		.messageConnected.success.msg
		.messageRegistered.success.msg
		.messageUnregistered.success.msg
		.messageNormal.normal.msg
		.messageConnecting.normal.msg
		.messageRegistering.normal.msg
		.messageUnregistering.normal.msg

