.bdsft-webrtc
  .messages
    position absolute
    font-family arial
    text-align left
    width auto
    font-size 12px
    bottom auto
    top 10px
    left 10px

    &.audioOnly:not(.offerToReceiveVideo)
      left 10px !important
      top 48px !important
      font-weight bold
      font-size 14px

    .msg
      display none

    &:not(.connecting).connected.registering.enableMessages .messageRegistering,
    &:not(.connecting).connected.unregistering.enableMessages .messageUnregistering,
    &.connecting.enableMessages .messageConnecting,
    &.failed.enableMessages .messageFailed,
    &:not(.registering)._403.enableMessages .messageRegistrationWrongPassword,
    &:not(.registering)._404.enableMessages .messageRegistrationNotFound,
    &.userMediaFailed.enableMessages .messageGetUserMedia
      display block

    &.hasMessageAlert.enableMessages .messageAlert,
    &.hasMessageNormal.enableMessages .messageNormal,
    &.hasMessageWarning.enableMessages .messageWarning,
    &.hasMessageSuccess.enableMessages .messageSuccess,
    &:not(.registered):not(.connecting):not(.registering):not(.unregistering):not(._403):not(._404).enableMessages .messageUnregistered,
    &:not(.connecting):not(.registering).registered.enableMessages .messageRegistered,
    &:not(.connecting):not(.connected).enableMessages .messageConnectionFailed,
    &:not(.connecting).connected.enableMessages .messageConnected
      {flicker}

@css {
.bdsft-webrtc .messages .normal {
  color: <%= infoMessageColor %>;
}
.bdsft-webrtc .messages .success {
  color: <%= successMessageColor %>;
}
.bdsft-webrtc .messages .warning {
  color: <%= warningMessageColor %>;
}
.bdsft-webrtc .messages .alert {
  color: <%= alertMessageColor %>;
}
}